/*
  Title: CSS file for Article Elment of Posts Pages
  Description: The CSS files is used to style Article Element of Posts Page
              + In particular, content class and its children, including
              content-social-link, content-info, and content-related-posts.
              + The file also includes media queries for the above items.

*/
@import url("../veritas-design-tokens-v3.3.0/all.custom-properties.css");
/*Import link component to customize the style for Article Element*/
@import url("link.css");
/*Import card component to customize the style for Article Element*/
@import url("card.css");

/**************Social Link***************/

.content {
  background-color: var(--vds-color-cerulean-lightest);
  display: grid;
  grid-template-columns: min-content 1fr;
}

/**************Social Link***************/

.content-social-link{
  list-style: none;
  background-color: #fff;
  width: 60px;
  height: 240px;
  box-shadow: var(--vds-box-shadow-2);
  margin: 50px 50px 50px 200px;
  /*Making Social Link Navbar stick to top-left*/
  position: sticky;
  top: 20%;
}

.content-info-social-link{
  display: none;
  list-style: none;
}

.content-social-link li,
.content-info-social-link li{
  background-color: var(--vds-color-cerulean-darker);
  text-align: center;
}

.content-info-social-link li{
  display: inline-block;
  width: 20%;
  margin-right: 4%;
  height: 40px;
  padding-top: 7px;
}

.content-social-link li{
  padding: 5px;
  width: 30px;
  height: 30px;
  margin: 15px auto;
}

.content-social-link li a,
.content-info-social-link li a{
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  margin-top: 3px;
}

/**************Content Info***************/

.content-info{
  background-color: #fff;
  width: 70%;
  box-shadow: var(--vds-box-shadow-1);
  padding: 5%;
  margin-top: -70px;
  margin-bottom: 50px;
}

/*Content-author-icon*/

.content-author-icon{
  padding: 20px;
}

.content-author-icon img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin: -10px 10px 0 0;
}

/*Content Heading*/

.content-info h3{
  font-weight: bold;
}

.content-section-title{
  margin-top: 10px;
}

/*Content Images*/

.content-img{
  margin: 1.5rem 0;
}

.content-img img{
  display: block;
  width: 60%;
  margin: 0 auto;
}

.content-img figcaption{
  text-align: center;
  margin-top: 1.5rem;
}

/*Content Paragraph*/

.content-info p{
  font-size: 1.25rem;
  line-height: var(--vds-text-line-height);
  margin-bottom: 1.25rem;
}

.content-works-cited {
  font-style: italic;
}

/*Content Blockquote*/

.content-blockquote{
  width: 80%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.content-blockquote cite{
  display: block;
}

/*Content-author*/

.content-author{
  display: flex;
  margin: 30px auto;
  padding: 3%;
  border-top: 1px solid var(--vds-color-cerulean-lighter);
}

.content-author img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 50px;
}

/**************Content Related Posts***************/

.content-related-posts{
  grid-column: 2/3;
  width: 80%;
  margin-bottom: 50px;
}

/**************Media Queries***************/

@media (max-width: 1024px){
  .content-social-link{
    margin: 50px 50px 50px 50px;
  }

  .content-info{
    width: 80%;
  }

  .content-related-posts{
    width: 90%;
  }
}

@media (max-width: 768px){
  .content-social-link{
    display: none;
  }

  .content-info-social-link{
    display: block;
  }

  .content-info{
    grid-column: 1/3;
    width: 80%;
    margin: -250px auto 50px auto;
  }

  .content-related-posts{
    grid-column: 1/3;
    width: 90%;
    margin: 50px auto;
  }
}

@media (max-width: 426px){
  .content-info-social-link li{
    margin-right: 3%;
  }

  .content-info{
    margin: -100px auto 50px auto;
  }

  .content-img img{
    width: 100%;
  }

  .content-author{
    flex-direction: column;
  }
  /*Media Query for long-card of related posts section*/
  .long-card{
    flex-direction: column;
  }

  .long-card-img,
  .long-card-body{
    width: 100%;
    height: 60%;
  }

  .card-preview{
    display: none;
  }
}
